@import "tailwindcss";

:root {
    --font-body: var(--font-rubik);
    --color-myGreen:#006239;
    --color-myButton:#242424;
    --color-main:#121212;
}



body {
    font-family: var(--font-arimo), sans-serif;
}

.rubik {
    font-family: var(--font-rubik), sans-serif;
}
.time {
    font-family: var(--font-time),sans-serif;
}